<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is your homepage</h1>
    <table>
        <td>
                <tr>
                    <a href="/insert/category">Insert Category</a>
                </tr>
                <tr>
                    <a href="/insert/product">Insert Product</a>
                </tr>
                <tr>
                    <a href="/reduce">Reduce Inventory</a>
                </tr>
                <tr>
                    <a href="/view/products">View Products</a>
                </tr>
        </td>
    </table>
</body>
</html>