<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Category</title>
</head>
<body>
    <div class="container">

        <div class="category-form">
            <h2>Insert the new category</h2>
            <form action="/insert/category/send" method="post">

                <label for="name">Category Name</label>
                <input type="text" id="name" name="name">
                <button type="submit">Submit</button>

            </form>
        </div>

    </div>
</body>
</html>