<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Category</title>
</head>
<body>
    <div class="container">
        <h2>Remove Category</h2>
        <form action="/remove/category/send" method="post">

            <label for="name">Category Name</label>
            <input type="text" id="name" name="name" min="3" max="50">
            <button type="submit">Submit</button>

        </form>

    </div>
</body>
</html>